@import "common/variables";
@import "./element-reset.scss";

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
